@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
html, body{
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  height: 0%;
  width: 100%;
}
.container{
    font-family: 'Rubik', sans-serif;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    text-align: center;
    background-color: #523E7D;
    color: white;
}
.logo{
    position: relative;
    text-align: center;
    /* top: 30%; */
    /* width: 524px;
    height: 64px;
    left: 240px;
    top: 200px; */
}
.back--icon{
    position: relative;
    right: 50%;
    /* right: 450px;
    top: 280px; */
}

.Branding{
    font-weight: 400PX;
    line-height: 64px;
    font-size: 40PX;

    position: relative;
    /* top: 35%; */
    text-align: center;
    /* width: 524px;
    height: 64px;
    left: 240px;
    top: 230px; */
}
.Tag{
    font-size: 30PX;

    margin-left: 25%;
    position: relative;
    text-align: left;
    /* top: 38%; */
    /* width: 524px;
    height: 64px;
    left: 8px;
    top: 240px; */
}
.form-sender{
    position: relative;
    text-align: center;
    /* top: 40%; */
    /* width: 524px;
    height: 64px;
    left: 210px;
    top: 225px; */
}
input[type=text]{
    border: 1px solid #ffff;
    width: 50%;
    border-radius: 11px;
    height: 40px;
    font-family: 'Rubik', sans-serif;
}
input[type=submit]{
    font-size: 25px;
    color: #ffff ;
    background-color: #523E7D;
    margin-top: 30px;
    border: 1px solid #ffff;
    width: 50%;
    height: 40px;
    border-radius: 11px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
input[type=password]{
    font-size: 25px;
    color: #ffff ;
    background-color: #523E7D;
    margin-top: 30px;
    border: 1px solid #ffff;
    width: 50%;
    height: 40px;
    border-radius: 11px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
input[type=email]{
    font-size: 25px;
    color: #ffff ;
    background-color: #523E7D;
    margin-top: 30px;
    border: 1px solid #ffff;
    width: 50%;
    height: 40px;
    border-radius: 11px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.Not-found{
    color: red;
}